<table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
  <tr>
    <td colspan="2" style="color: #4F4646; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; padding-bottom: 5px;">
      Cinzia Rinelli
    </td>
  </tr>
  <tr>
    <td colspan="2" style="color: #6F6F6F; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; padding-bottom: 5px;">
      Chief Marketing Officer
    </td>
  </tr>
  <tr>
    <td colspan="2" style="color: #6F6F6F; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif;">
      <a href="https://www.clairy.com/?utm_source=email&utm_medium=signature&utm_campaign=cinzia" style="color: #6AA4D8; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; font-weight: bold;"><span style="color: #6AA4D8;">clairy.com</span></a>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-bottom: 8px; padding-top: 8px;">
      <img src="https://www.clairy.com/wp-content/uploads/2018/01/line@2x.png" width="20" height="2" alt="">
    </td>
  </tr>
  <tr>
    <td colspan="2" style="color: #6F6F6F; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; padding-bottom: 5px;">
      Email <a href="mailto:cinzia@clairy.com" style="color: #6AA4D8; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;"><span style="color: #6AA4D8;">cinzia@clairy.com</span></a>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="color: #6F6F6F; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; padding-bottom: 5px;">
      Tel <a href="tel:+393394215687" style="color: #6AA4D8; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;"><span style="color: #6AA4D8;">+39-339.421.5687</span></a>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="color: #6F6F6F; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif;">
      Skype <a href="skype:cinzia.rinelli?call" style="color: #6AA4D8; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;"><span style="color: #6AA4D8;">cinzia.rinelli</span></a>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-bottom: 14px; padding-top: 14px;">
      <a href="https://www.clairy.com/" target="_blank" style="border-style: none;">
        <img src="https://www.clairy.com/wp-content/uploads/2018/01/logo@2x.png" width="126" height="25" style="border-style: none;" alt="Clairy">
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="color: #6F6F6F; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; padding-bottom: 11px;">
      <a href="https://goo.gl/maps/EvhnsNaTG912" target="_blank" style="color: #6F6F6F; text-decoration: none;"><span style="color: #6F6F6F;">Pordenone</span></a> -
      <a href="https://goo.gl/maps/WSvoJtdEZiT2" target="_blank" style="color: #6F6F6F; font-weight: bold; text-decoration: none;"><span style="color: #6F6F6F;">Milano</span></a> -
      <a href="https://goo.gl/maps/L1Lb55rnkcJ2" target="_blank" style="color: #6F6F6F; text-decoration: none;"><span style="color: #6F6F6F;">San Francisco</span></a>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="color: #949594; font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif;">
      <img src="https://www.clairy.com/wp-content/uploads/2018/01/icon@2x.png" style="border-style: none;" width="15" height="14" alt=""> Please consider the environment before printing this email
    </td>
  </tr>
</table>
